<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <platform name="electron">
        <icon src="res/electron/weather-logo.png"/>
        <preference name="ElectronSettingsFilePath" value="res/electron/settings.json"/>
    </platform>

    <name>Weather App</name>
    <description>Application to check your weather</description>
    <author email="zd51159@zut.edu.pl" href="">
        Damian Zając
    </author>
    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
